 <html>
 <head>
  
    <link rel="stylesheet" href="/css/footer.css">
 
</head>

 <footer class="footer">

        <div class="row">

            <div class="six columns tab-whole footer-about">

                <h3 class="about-pure">About Puremedia</h3>

                <p>This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin,
                    lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.
                </p>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                    dolore magna aliqua.</p>

            </div> <!-- /footer-about -->

            <div class="six columns tab-whole right-cols">

                <div class="row">

                    <div class="columns">
                        <h3 class="address" style="color: #000000">Contact Us</h3>
                        <p>
                            1600 Amphitheatre Parkway<br> Mountain View, CA<br> 94043 US
                        </p>

                        <ul>
                            <li><a href="tel:6473438234">647.343.8234</a></li>
                            <li><a href="tel:1234567890">123.456.7890</a></li>
                            <li><a href="mailto:someone@puremedia.com">someone@puremedia.com</a></li>
                        </ul>
                    </div> <!-- /columns -->

                    <div class="columns last">
                        <h3 class="contact">Follow Us</h3>

                        <ul>
                            <li><a href="#">Facebook</a></li>
                            <li><a href="#">Twitter</a></li>
                            <li><a href="#">GooglePlus</a></li>
                            <li><a href="#">Instagram</a></li>
                            <li><a href="#">Flickr</a></li>
                            <li><a href="#">Skype</a></li>
                        </ul>

                    </div> <!-- /columns -->

                </div> <!-- /Row(nested) -->

            </div>

            <p class="copyright">&copy; Copyright 2014 Puremedia. Design by <a href="http://www.styleshout.com/">Styleshout.</a></p>


        </div> <!-- /row -->

    </footer> <!-- /footer -->
</html>