 <head>
     <link rel="stylesheet" type="text/css" href="/css/header.css"> 
      <script src="/js/custom.js"></script>
 </head>
 <header id="main-header">

        <div class="row header-inner">

            <div class="logo">
                <a class="smoothscroll" href="/prive-wealth">Privé Wealth</a>
            </div>

            <nav id="nav-wrap">

                <a class="mobile-btn" href="#nav-wrap" title="Show navigation">
                    <span class='menu-text'>Show Menu</span>
                    <span class="menu-icon"></span>
                </a>
                <a class="mobile-btn" href="#" title="Hide navigation">
                    <span class='menu-text'>Hide Menu</span>
                    <span class="menu-icon"></span>
                </a>

                <ul id="nav" class="nav">
                    <li class="current"><a class="smoothscroll" href="/prive-wealth#home">Home</a></li>
                    <li><a class="smoothscroll" href="/prive-wealth#our-background">Our Background</a></li>
                    <li><a class="smoothscroll" href="/prive-wealth#who-we-are">Who we Are</a></li>
                    <!-- <li><a class="smoothscroll" href="/prive-wealth#about">About</a></li> -->
                    <li><a class="blog" href="javascript:void(0);">Knowledge Center</a></li>
                    <li><a class="smoothscroll" href="/prive-wealth#contact">Contact Us</a></li>
                   <!--  <li><a class="smoothscroll" href="/prive-wealth#Login">Client Center</a></li> -->
                </ul>

            </nav> <!-- /nav-wrap -->

            <div>
                <img src="/img_202755.png" class="imgLogin">
                <a class="smoothscroll" style="color: white;position: absolute;margin-top: 25px;margin-left: 25px;" href="/prive-wealth">Client Centre</a>
            </div>
            

        </div> <!-- /header-inner -->

    </header>