<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/media-queries.css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
   <!--  <link rel="stylesheet" type="text/css" href="/css/style.css"> -->
    <script src="/js/modernizr.js"></script>
</head>

<body>
    <!-- <div id="preloader">
        <div id="status">
            <img src="images/loader.gif" height="60" width="60" alt="">
            <div class="loader">Loading...</div>
        </div>
    </div> -->

    <header id="main-header">

        <div class="">

            <div class="logo">
                <a class="smoothscroll" href="/prive-wealth">Privé Wealth</a>
            </div>

            <nav id="nav-wrap">

                <a class="mobile-btn" href="#nav-wrap" title="Show navigation">
                    <span class='menu-text'>Show Menu</span>
                    <span class="menu-icon"></span>
                </a>
                <a class="mobile-btn" href="#" title="Hide navigation">
                    <span class='menu-text'>Hide Menu</span>
                    <span class="menu-icon"></span>
                </a>

                <ul id="nav" class="nav">
                    <li class="current"><a class="smoothscroll" href="#home">Home</a></li>
                    <li><a class="smoothscroll" href="#our-background">Our Background</a></li>
                    <li><a class="smoothscroll" href="#who-we-are">Who we Are</a></li>
                   <!--  <li><a class="smoothscroll" href="#about">About</a></li> -->
                    <li><a class="blog" href="javascript:void(0);">Knowledge Center</a></li>
                    <li><a class="smoothscroll" href="#contact">Contact Us</a></li>

                </ul>

            </nav> <!-- /nav-wrap -->
           
                 <div style="position: relative
                 ;margin-top: -70px;margin-left: 1000px;"">
                <img src="/img_202755.png" class="imgLogin">
                <a class="smoothscroll" style="color: white;position: absolute;margin-top: 25px;margin-left: -115px;" href="/prive-wealth">Client Centre</a>
            </div>
            

        </div> <!-- /header-inner -->


    </header>

    <section id="home">
        <div class="bgimg-1">
            <div class="caption">
                <span class="border">Privé Wealth</span>
            </div>
        </div>
    </section>

    <section id="our-background">
        <div style="color: #777;background-color:white;text-align:center;padding:50px 80px;text-align: justify;">
            <h3 style="text-align:center;">Our BackGround</h3>
            <p>It takes commitment and resources to help meet the sophisticated needs of individuals and families with significant wealth. Prive Wealth Management has demonstrated this commitment throughout its client base advising such families. Using our perspective, we tailor everything our clients need to help transform their success and wealth into a legacy that can last for generations, perhaps centuries.
              We help our clients pursue their wealth management goals through careful advice, astute investment management.
            </p>
        </div>
    </section>
    <div class="bgimg-2">
        <div class="caption">
            <span class="border" style="background-color:transparent;font-size:25px;color: #f7f7f7;">Building Wealth. Building Lifestyle.</span>
        </div>
    </div>
    <section id="who-we-are">
        <div style="color: #777;background-color:white;text-align:center;padding:50px 80px;text-align: justify;">
            <h3 style="text-align:center; color: black">Who We Are</h3>
            <div class="tab">

                <button class="tablinks" data-tab="first">Privé Services
                    <hr class="myhr"></button>
                <button class="tablinks" data-tab="second">Privé Advantage</button>
                <button class="tablinks" data-tab="third">Management</button>
            </div>

            <!-- Tab content -->
            {{!--
            <div id="London" class="tabcontent">
                <h3>London</h3>
                <p>London is the capital city of England.</p>
            </div>

            <div id="Paris" class="tabcontent">
                <h3>Paris</h3>
                <p>Paris is the capital of France.</p>
            </div>

            <div id="Tokyo" class="tabcontent">
                <h3>Tokyo</h3>
                <p>Tokyo is the capital of Japan.</p>
            </div> --}}
            <p class="first tabdata">Integrated Family Office
              <br>
              
            Tailored to meet the needs of wealthy individuals and their families, we offer the following services and solutions:
            <br>
            <br>
            Liquidity event management
              <br>
            We help with your investment, financing and liquidity needs. For example, if you’re selling a business, you may need integrated investment advice and estate planning. 
            <br>
            <br>
            Insurance Services
              <br>
              Our expertise ranges from individual and family insurances to a broad range of business insurances, superannuation and financial products and advice, and we have a proven track record in managing risk and building certainty.
              <br>
              <br>
             Lifestyle considerations
              <br>
              As your career and lifestyle evolves, the decisions you make can affect your income. This may mean you need to re-evaluate your investment strategy. We are there with you through all walks of life be it buying a luxury car, paintings, wine or getting you exclusive memberships of the best golf clubs, providing you with flawless luxury dining Experiences throughout the best restaurants across Globe.
            <br>
            <br>
              Portfolio management
              <br>
              With proper diversification key to their investment approach, our investment specialists provide regular portfolio reviews.
            
            </p>
            <p class="second tabdata" style="display:none">
              ACCESS YOUR WEALTH
              <br>
              Privé Wealth Management clients can access their wealth online through privewealth.in or through our new mobile app.
              <br>
              <br>
              The right connections for great outcomes
              <br>
              Prive Wealth LLP events are designed to amplify opportunities in every sphere of life. They give you and your family the occasions to network with cultural luminaries and like-minded peers to establish mutually beneficial relationships.
              <br>
              <br>
               Presenting you with opportunities to indulge your passion for art
              <br>
             ART Expo is one of the India’s most significant art shows, with leading galleries representing both established and emerging contemporary artists. The show is attended by the India’s top art collectors. Prive Wealth provides exclusive access to select clients to appreciate and find great art to own and invest in.
              <br>
              <br>
              Privé Young Leader program provides guidance on how to help children develop skills to be better prepared for a complex financial world. In our Teaching your children about wealth series, we have gathered best practices from our team of advisors to help parents, grandparents and other caring family members empower children, ages 14-22, in money matters.
              
            </p>


            <div id="portfolio-wrapper" class="third tabdata bgrid-fourth s-bgrid-third mob-bgrid-half group" style="display:none">

          	   <div class="bgrid item">
                  <div class="item-wrap">

                     <a href="#">
                        <img src="https://images.pexels.com/photos/346796/pexels-photo-346796.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="Grizzly">
                        <div class="overlay"></div>                       
                        <div class="portfolio-item-meta">
          					      <h5 style="color: black">Grizzly</h5>
                              <p style="color: black">Photography</p>
          					</div>                         
                     </a>

                  </div>
          		</div> <!-- /item -->

               <div class="bgrid item">
                  <div class="item-wrap">

                     <a href="#">
                        <img src="https://images.pexels.com/photos/346796/pexels-photo-346796.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="Hotel Sign">
                        <div class="overlay">
                        	<div class="portfolio-item-meta">
          					      <h5 style="color: black">Hotel Sign</h5>
                              <p style="color: black">Webdesign</p>
          					   </div>
                        </div>                        
                     </a>

                  </div>
          		</div> <!-- /item -->

               <div class="bgrid stack item">
                  <div class="item-wrap">

                     <a href="#">
                        <img src="https://images.pexels.com/photos/346796/pexels-photo-346796.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="Beetle">                        
                        <div class="overlay">
                        	<div class="portfolio-item-meta">
          					      <h5 style="color: black">Beetle</h5>
                              <p style="color: black">Branding</p>
          					   </div>
                        </div>                        
                     </a>

                  </div>
          		</div> <!-- /item -->

               <div class="bgrid item">
                  <div class="item-wrap">

                     <a href="#">
                        <img src="https://images.pexels.com/photos/346796/pexels-photo-346796.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="Banjo Player">
                        <div class="overlay">
                        	<div class="portfolio-item-meta">
          					      <h5 style="color: black">Banjo Player</h5>
                              <p style="color: black">Videography</p>
          					   </div>
                        </div>                       
                     </a>

                  </div>
          		</div> <!-- /item -->

               <div class="bgrid item">
                  <div class="item-wrap">

                     <a href="#">
                     	<img src="https://images.pexels.com/photos/346796/pexels-photo-346796.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="Coffee Cup">
                       	<div class="overlay">
                       		<div class="portfolio-item-meta">
          					      <h5 style="color: black">Coffee Cup</h5>
                              <p style="color: black">Photography</p>
          					   </div>
                       	</div>                        
                     </a>

                  </div>
          		</div> <!-- /item -->

               <div class="bgrid item">
                  <div class="item-wrap">

                     <a href="#">
                        <img src="https://images.pexels.com/photos/346796/pexels-photo-346796.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="Farmerboy">
                        <div class="overlay">
                        	<div class="portfolio-item-meta">
          					      <h5 style="color: black">Farmerboy</h5>
                              <p style="color: black">Branding</p>
          					   </div>
                        </div>                        
                     </a>

                  </div>
          		</div> <!-- /item -->

               <div class="bgrid item">
                  <div class="item-wrap">

                     <a href="#">                        
                        <img src="https://images.pexels.com/photos/346796/pexels-photo-346796.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="Judah">                       
                        <div class="overlay">
                        	<div class="portfolio-item-meta">
          					      <h5 style="color: black">Judah</h5>
                              <p style="color: black">Web Design</p>
          					   </div>
                        </div>                        
                     </a>

                  </div>
          		</div> <!-- /item -->

               <div class="bgrid item">
                  <div class="item-wrap">

                     <a href="#">
                        <img src="https://images.pexels.com/photos/346796/pexels-photo-346796.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="Embossed Paper">
                        <div class="overlay">
                        	<div class="portfolio-item-meta">
          					      <h5 style="color: black">Embossed Paper</h5>
                              <p style="color: black">Branding</p>
          					   </div>
                        </div>                                                
                     </a>                   

                  </div>
          		</div>  <!-- item end -->

            </div>
            {{!-- <p class="third tabdata" style="display:none">3BayFront Wealth was founded in India, Faridabad in 2011 at the request of family offices who
                were in search of an internationally focused wealth management solution as well as access to direct investment
                opportunities and alternative assets in multiple markets. CPS opened their U.S. office in 2015 to address
                the growing needs of international families seeking U.S. investments and custody. Since then, we have evolved
                into an international wealth management firm catering to global families including Americans expatriates,
                non-Americans with U.S. connections and clients who require an international perspective.
            </p> --}}
        </div>
    </section>
     <div class="bgimg-4">
        <div class="caption">
            <span class="border" style="background-color:transparent;font-size:25px;color: #f7f7f7;"></span>
        </div>
    </div>
    <section id="contact">

        <div class="row section-head">

            <div class="twelve columns">

                <h1>Get In Touch With Us<span>.</span></h1>

                <hr />

                <p>Have questions about background screening? Our entire team receives specialized training regularly to ensure you're receiving the best information possible. From basic questions to complex compliance inquiries, we're here to help!

Interested in learning more about our services? Our Account Executives take the time to discuss your existing background screening program and help you make smart decisions that best meet your needs. 
                </p>

            </div>

        </div>

        <div class="row form-section">

            <div id="contact-form" class="twelve columns">

                <form name="contactForm" id="contactForm" method="post" action="">

                    <fieldset>

                        <div class="row">

                            <div class="six columns mob-whole">
                                <label for="contactFname">First Name <span class="required">*</span></label>
                                <input name="contactFname" type="text" id="contactFname" placeholder="First Name" value="" />
                            </div>

                            <div class="six columns mob-whole">
                                <label for="contactLname">Last Name <span class="required">*</span></label>
                                <input name="contactLname" type="text" id="contactLname" placeholder="Last Name" value="" />
                            </div>

                        </div>

                        <div class="row">

                            <div class="six columns mob-whole">
                                <label for="contactEmail">Email <span class="required">*</span></label>
                                <input name="contactEmail" type="text" id="contactEmail" placeholder="Email" value="" />
                            </div>

                            <div class="six columns mob-whole">
                                <label for="contactSubject">Subject</label>
                                <input name="contactSubject" type="text" id="contactSubject" placeholder="Subject" value="" />
                            </div>

                        </div>

                        <div class="row">

                            <div class="twelve columns">
                                <label for="contactMessage">Message <span class="required">*</span></label>
                                <textarea name="contactMessage" id="contactMessage" placeholder="Your Message" rows="10" cols="50"></textarea>
                            </div>

                        </div>

                        <div>
                            <button class="submit full-width">Send Message</button>
                            <div id="image-loader">
                                <img src="images/loader.gif" alt="" />
                            </div>
                        </div>

                    </fieldset>

                </form> <!-- /contactForm -->

                <!-- message box -->
                <div id="message-warning"></div>
                <div id="message-success">
                    <i class="fa fa-check"></i>Your message was sent, thank you!<br />
                </div>

            </div> <!-- /contact-form -->

        </div> <!-- /form-section -->

    </section> <!-- /contact-->


    <!-- Footer
    ================================================== -->
    
    {{> footer}}
     <!-- /footer -->
    

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/js/jquery-1.10.2.min.js"><\/script>')</script>
    <script type="text/javascript" src="/js/jquery-migrate-1.2.1.min.js"></script>
    <script src="/js/jquery.flexslider.js"></script>
    <script src="/js/jquery.fittext.js"></script>
    <script src="/js/backstretch.js"></script>
    <script src="/js/waypoints.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/active.js"></script>
    <script src="/js/custom.js"></script>
</body>

</html>