<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>PrivéWealth - PriveWealth Blog</title>

    <!-- Favicon -->
    <link rel="icon" href="img/core-img/favicon.ico">
      <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

    <!-- Core Stylesheet -->
    <link rel="stylesheet" href="/css/style.css">
       


</head>

<body>
    <!-- ##### Preloader ##### -->
   

    <!-- ##### Header Area Start ##### -->
   
    <!-- ##### Header Area End ##### -->

    <!-- ##### Hero Area Start ##### -->
    <section>
        {{> header}}
    </section>


 

    <section class="blog-content-area section-padding-100">
        <div class="container">
            <div class="row">
                <!-- Featured Post Area -->
                <div class="col-12">
                    <div class="featured-post-area">
                        <div id="featured-post-slides" class="carousel slide d-flex flex-wrap" data-ride="carousel">

                            <div class="carousel-inner">

                                <div class="carousel-item active bg-img" style="background-image: url(/blog-img/7.jpg)">
                                    <!-- Featured Post Content -->
                                    <div class="featured-post-content">
                                        <p>MAY 8, 2018 / foody</p>
                                        <a href="#" class="post-title">
                                            <h2>A Closer Look At Our Front Porch Items From Lowe’s</h2>
                                        </a>
                                    </div>
                                </div>

                                <div class="carousel-item bg-img" style="background-image: url(/blog-img/6.jpg)">
                                    <!-- Featured Post Content -->
                                    <div class="featured-post-content">
                                        <p>MAY 8, 2018 / foody</p>
                                        <a href="#" class="post-title">
                                            <h2>12 Beautiful Vegan Panna Cottas</h2>
                                        </a>
                                    </div>
                                </div>

                            </div>

                            <ol class="carousel-indicators">
                                <li data-target="#featured-post-slides" data-slide-to="0" class="active">
                                    <h2>01</h2>
                                    <a href="#" class="post-title">
                                        <h5>A Closer Look At Our Front Porch Items From Lowe’s</h5>
                                    </a>
                                </li>
                                <li data-target="#featured-post-slides" data-slide-to="1">
                                    <h2>02</h2>
                                    <a href="#" class="post-title">
                                        <h5>12 Beautiful Vegan Panna Cottas</h5>
                                    </a>
                                </li>
                                <li data-target="#featured-post-slides" data-slide-to="2">
                                    <h2>03</h2>
                                    <a href="#" class="post-title">
                                        <h5>Quick Vegan Enchiladas with Sweet Potato Sauce</h5>
                                    </a>
                                </li>
                                <li data-target="#featured-post-slides" data-slide-to="3">
                                    <h2>04</h2>
                                    <a href="#" class="post-title">
                                        <h5>Instant Pot Mushroom Stroganoff with Vodka</h5>
                                    </a>
                                </li>
                                <li data-target="#featured-post-slides" data-slide-to="4">
                                    <h2>05</h2>
                                    <a href="#" class="post-title">
                                        <h5>The Most Popular Recipe Last Month</h5>
                                    </a>
                                </li>
                            </ol>

                        </div>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center">
                <!-- Blog Posts Area -->
                <div class="col-12 col-lg-8">
                    <div class="blog-posts-area">

                        <!-- Single Blog Post -->
                        <div class="single-blog-post d-flex flex-wrap mt-50">
                            <!-- Thumbnail -->
                            <div class="post-thumbnail mb-50">
                                <a href="#"><img src="/blog-img/8.jpg" alt=""></a>
                            </div>
                            <!-- Content -->
                            <div class="post-content mb-50">
                                <p class="post-date">MAY 8, 2018 / foody</p>
                                <a href="#" class="post-title">
                                    <h4>Vegetarian Spring Pho with Sweet Potato Noodles and Heirloom Beans</h4>
                                </a>
                                <div class="post-meta">
                                    <a href="#"><span>by</span> Sarah Jenks</a>
                                    <a href="#"><i class="fa fa-eye"></i> 192</a>
                                    <a href="#"><i class="fa fa-comments"></i> 08</a>
                                </div>
                                <p class="post-excerpt">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit.</p>
                                <a href="#" class="read-more-btn">Continue Reading <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                            </div>
                            <!-- Post Curve Line -->
                            <img class="post-curve-line" src="/core-img/post-curve-line.png" alt="">
                        </div>

                        <!-- Single Blog Post -->
                        <div class="single-blog-post d-flex flex-wrap mt-50">
                            <!-- Thumbnail -->
                            <div class="post-thumbnail mb-50">
                                <a href="#"><img src="/blog-img/9.jpg" alt=""></a>
                            </div>
                            <!-- Content -->
                            <div class="post-content mb-50">
                                <p class="post-date">MAY 12, 2018 / drinks</p>
                                <a href="#" class="post-title">
                                    <h4>Grain-Free Sweet &amp; Savory Activated Walnut Granola</h4>
                                </a>
                                <div class="post-meta">
                                    <a href="#"><span>by</span> Sarah Jenks</a>
                                    <a href="#"><i class="fa fa-eye"></i> 192</a>
                                    <a href="#"><i class="fa fa-comments"></i> 08</a>
                                </div>
                                <p class="post-excerpt">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit.</p>
                                <a href="#" class="read-more-btn">Continue Reading <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                            </div>
                            <!-- Post Curve Line -->
                            <img class="post-curve-line" src="/core-img/post-curve-line.png" alt="">
                        </div>

                        <!-- Single Blog Post -->
                        <div class="single-blog-post d-flex flex-wrap mt-50">
                            <!-- Thumbnail -->
                            <div class="post-thumbnail mb-50">
                                <a href="#"><img src="/blog-img/10.jpg" alt=""></a>
                            </div>
                            <!-- Content -->
                            <div class="post-content mb-50">
                                <p class="post-date">MAY 15, 2018 / Coffee</p>
                                <a href="#" class="post-title">
                                    <h4>Self-Care Interview Series: Gabrielle Russomagno</h4>
                                </a>
                                <div class="post-meta">
                                    <a href="#"><span>by</span> Sarah Jenks</a>
                                    <a href="#"><i class="fa fa-eye"></i> 192</a>
                                    <a href="#"><i class="fa fa-comments"></i> 08</a>
                                </div>
                                <p class="post-excerpt">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit.</p>
                                <a href="#" class="read-more-btn">Continue Reading <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                            </div>
                            <!-- Post Curve Line -->
                            <img class="post-curve-line" src="/core-img/post-curve-line.png" alt="">
                        </div>

                        <!-- Single Blog Post -->
                        <div class="single-blog-post d-flex flex-wrap mt-50">
                            <!-- Thumbnail -->
                            <div class="post-thumbnail mb-50">
                                <a href="#"><img src="/blog-img/11.jpg" alt=""></a>
                            </div>
                            <!-- Content -->
                            <div class="post-content mb-50">
                                <p class="post-date">MAY 20, 2018 / foody</p>
                                <a href="#" class="post-title">
                                    <h4>Green Skillet Pizza with Asparagus and Pesto</h4>
                                </a>
                                <div class="post-meta">
                                    <a href="#"><span>by</span> Sarah Jenks</a>
                                    <a href="#"><i class="fa fa-eye"></i> 192</a>
                                    <a href="#"><i class="fa fa-comments"></i> 08</a>
                                </div>
                                <p class="post-excerpt">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit.</p>
                                <a href="#" class="read-more-btn">Continue Reading <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                            </div>
                            <!-- Post Curve Line -->
                            <img class="post-curve-line" src="/core-img/post-curve-line.png" alt="">
                        </div>

                        <!-- Single Blog Post -->
                        <div class="single-blog-post d-flex flex-wrap mt-50">
                            <!-- Thumbnail -->
                            <div class="post-thumbnail mb-50">
                                <a href="#"><img src="/blog-img/12.jpg" alt=""></a>
                            </div>
                            <!-- Content -->
                            <div class="post-content mb-50">
                                <p class="post-date">MAY 28, 2018 / health</p>
                                <a href="#" class="post-title">
                                    <h4>Green Skillet Pizza with Asparagus and Pesto</h4>
                                </a>
                                <div class="post-meta">
                                    <a href="#"><span>by</span> Sarah Jenks</a>
                                    <a href="#"><i class="fa fa-eye"></i> 192</a>
                                    <a href="#"><i class="fa fa-comments"></i> 08</a>
                                </div>
                                <p class="post-excerpt">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit.</p>
                                <a href="#" class="read-more-btn">Continue Reading <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                            </div>
                            <!-- Post Curve Line -->
                            <img class="post-curve-line" src="/core-img/post-curve-line.png" alt="">
                        </div>

                    </div>

                    <!-- Pager -->
                    <ol class="foode-pager mt-50">
                        <li><a href="#"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> Newer</a></li>
                        <li><a href="#">Older <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a></li>
                    </ol>
                </div>

                <!-- Blog Sidebar Area -->
          
            </div>
        </div>
    </section>

    <section>{{> footer}}</section>
    <!-- ##### Hero Area End ##### -->

    <!-- ##### Blog Content Area Start ##### -->
    
    <!-- ##### Footer Area Start ##### -->
    
    <!-- ##### All Javascript Script ##### -->
    <!-- jQuery-2.2.4 js -->
    <script src="/js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="/js/bootstrap/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="/js/bootstrap/bootstrap.min.js"></script>
    <!-- All Plugins js -->
    <script src="/js/plugins/plugins.js"></script>
    <!-- Active js -->
    <script src="/js/active.js"></script>
</body>

</html>