.footer{
	padding-top: 36px;
  padding-bottom: 42px;

  line-height: 24px;
  position: relative;
	background-color: #0e1015;;
}

footer .right-cols .columns {
  width: 50%;
  word-wrap: break-word;
}

.column, .columns, .bgrid {
   position: relative; */
   padding: 0 18px; */
  min-height: 1px;
  float: left;
}

footer ul {
  margin: 12px 0;
  padding: 0;
  list-style: none;
}
footer ul li {
  margin: 0;
  padding-left: 0;
  line-height: 24px;
}
footer ul li a,
footer ul li a:visited {
  color: #3c4142;
}



footer p {
  margin: 12px 0;
  font-size: 12px;
}

footer .copyright {
  margin: 0;
  padding: 24px 18px 6px 18px;
  clear: both;
}


footer h3 {
  font: 13px/24px "raleway-bold", sans-serif;
  /* margin-bottom: 0; */
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
    margin: 18px 0 15px;
}

.row .row {
  /* width: auto; */
  /* max-width: none; */
  /* margin-left: -18px; */
  /* margin-right: -18px; */
}

.copyright {
  margin: 0;
  padding: 24px 18px 6px 18px;
  clear: both;
}

.footer-about {
  padding-right: 60px;
}

.six, .row .six {
  width: 50%;
}

.row {
  max-width: 1024px;
  margin: 0 auto;
}

footer a:visited {
  color: #a43b0a;
}

body {
  height: 100%;
  margin: 0;
  /* font: 400 15px/1.8 "Lato", sans-serif; */
  color: #777;
  
  font-weight: normal;
}


