#nav-wrap {
 /* font: 11px "raleway-heavy", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1.5px;*/
  display: inline-block;
}


.imgLogin
{
  height: 2em;
  width: auto;
  float: left;
  padding-top: 4px;
  margin-top: 19px;
  margin-left: 220px;
}
header {
  height: 72px;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 990;
  text-align: center;
 
  background: rgba(18, 21, 27, 0.5);
  -moz-transition: background 0.5s ease-in-out;
  -o-transition: background 0.5s ease-in-out;
  -webkit-transition: background 0.5s ease-in-out;
  -ms-transition: background 0.5s ease-in-out;
  transition: background 0.5s ease-in-out;
}
header .logo {

    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 190px;

  display: inline-block;
  vertical-align: middle;
  margin: 0;
  /*padding: 0;*/
  margin-right: 15px;

  /* add position relative since z-index only applies to
	elements that have been given an explicit position */
  position: relative;
  z-index: 992;
}
header .logo a {
  font: 20px "raleway-heavy", sans-serif;
  display: block;
  margin:  25px 20px 0 -500px;
/*  padding-top : 5px;*/
  padding-left : 90px;
  border: none;
  outline: none;
/*  font: 0/0 a;
*/  text-shadow: none;
  color: white;
  /*width: 126px;*/
  /*height: 12px;*/
  background-repeat: no-repeat;
  background-position: 0 0;
  background-image: url("../images/logo1.png");
  /* background-color: white; */
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  header .logo a {
    background-image: url("../images/logo1@2x.png");
    -webkit-background-size: 126px 12px;
    -moz-background-size: 126px 12px;
    background-size: 126px 12px;
    /* background-color: white; */
  }
}
.opaque {
  background: #12151b;
}




#nav-wrap,
#nav-wrap ul,
#nav-wrap li,
#nav-wrap a {
  font: 14px "raleway-heavy", sans-serif;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}


ul#nav {
  min-height: 72px;
  width: auto;

  /* left align the menu */
  text-align: left;
}
ul#nav li {
  position: relative;
  list-style: none;
  height: 72px;
  display: inline-block;
}
ul#nav li a {
  display: inline-block;
  padding: 17px 12px;
  line-height: 38px;
  text-decoration: none;
  color: #c0cdd1;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
ul#nav li a:hover {
  color: white;
}
ul#nav li a:active {
  background-color: transparent !important;
}
ul#nav li.current a {
  background: black;
  color: white;
}

#nav-wrap > a {
  display: none;
}


a,
a:visited {
  color: #000000;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
a:hover,
a:focus {
  color: black;
}


/*.entry header {
  height: auto;
  position: static;
  background: transparent;
  text-align: left;
}
.entry header h1 {
  font: 30px/36px "raleway-bold", sans-serif;
  margin-bottom: 6px;
}
.entry header h1 a {
  color: #252525;
}*/


h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  font-weight: inherit;
}
ul,
ol {
  margin-top: 15px;
  margin-bottom: 15px;
}
ul {
  list-style: disc;
  margin-left: 17px;
}